<html>
  <body>
    <div class="container">
      <div class="col-md-12">
        <h2>Detail Employee</h2>
      </div>

      <div class="row">
        <div class="col-md-4">
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="..." class="img-thumbnail w-100">
        </div>

        <div class="col-md-8">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text"  class="form-control" id="username"
                [(ngModel)]="employee.username" name="username"/>
            </div>

            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text"  class="form-control" id="firstName"
                [(ngModel)]="employee.firstName" name="firstName"/>
            </div>

            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text"  class="form-control" id="lastName"
                [(ngModel)]="employee.lastName" name="lastName"/>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="text"  class="form-control" id="email"
                [(ngModel)]="employee.email" name="email"/>
            </div>

            <div class="form-group">
              <label for="birthDate">Birth Date</label>
              <input type="date"  class="form-control" id="birthDate"
                [(ngModel)]="employee.birthDate" name="birthDate" />
            </div>

            <div class="form-group">
              <label for="basicSalary">Basic Salary</label>
              <input type="text"  class="form-control" id="basicSalary"
                [(ngModel)]="employee.basicSalary" name="basicSalary" valye/>
            </div>
            
            <div class="form-group">
              <label for="status">Status</label>
              <input type="text"  class="form-control" id="status"
                [(ngModel)]="employee.status" name="status"/>
            </div>
            
            <div class="form-group">
              <label for="group">Group</label>
              <ng-select 
                [items]="group" 
                bindLabel="name" 
                bindValue="name" 
                [(ngModel)]="employee.group">
              </ng-select>
            </div>

            <div class="form-group">
              <label for="description">Description</label>
              <input type="text"  class="form-control" id="description"
                [(ngModel)]="employee.description" name="description"/>
            </div>

            <div class="col-md-2 offset-md-10 mb-5">
              <div class="btn-group mt-2" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-success btn-block w-100" (click)="saveEmployee()">Save</button>
                &nbsp;
                <button type="button" class="btn btn-outline-primary btn-block w-100" (click)="goToPage()">Back</button>
              </div>
            </div>
        </div>
        
      </div>
    </div>
  </body>
</html>