<div class="col-md-12">
  <div class="form-outline mb-4">
    <h3>Register Section</h3>
  </div>
 
  <div class="form-outline mb-4">
    <input type="email" id="email" class="form-control form-control-lg" />
    <label class="form-label" for="email">Email address</label>
  </div>

  <div class="form-outline mb-4">
    <input type="password" id="password" class="form-control form-control-lg" />
    <label class="form-label" for="password">Password</label>
  </div>

  <div class="form-outline mb-4">
    <input type="password" id="passwordConfirmation" class="form-control form-control-lg" />
    <label class="form-label" for="passwordConfirmation">Password Confirmation</label>
  </div>

  <button type="submit" class="btn btn-primary btn-lg btn-block w-100" (click)="register()">Register</button>

</div>