<html>
  <body>
    <div class="container">
      <section class="vh-100">
        <div class="container py-5 h-100">
          <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-4">
              <app-login (page)="page = $event" *ngIf="page === 'login-page'"></app-login>
              <app-register (page)="page = $event" *ngIf="page === 'register-page'"></app-register>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>