/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/css/font-awesome.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body { margin-top: 20px; margin-bottom: 20px; font-family: Roboto, "Helvetica Neue", sans-serif; }
